<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>
    <main>
        <h2>All Games</h2>
        <table>
            <thead>
                <tr>
                    <th>Game id</th>
                    <th>Game name</th>
                    <th>Game quantity</th>
                    <th>Game rating</th>
                    <th>Game genre</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(game => { %>
                    <tr>
                        <td><%= game.number %> </td>
                        <td><%= game.name %> </td>
                        <td><%= game.quantity %> </td>
                        <td><%= game.rating %> </td>
                        <td><%= game.genre %> </td>
                    </tr> 
                    <% }) %>
            </tbody>
        </table>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>