<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/styles/styles.css">
    
    <title>Your Game search</title>
    
</head>
<body>
    <main class="gameData">
        <h1>Game data</h1>
        <p>game number: <%= result.number %> </p>
        <p>game name: <%= result.name %> </p>
        <p>game quantity: <%= result.quantity %> </p>
        <p>game rating: <%= result.rating %> </p>
        <p>game genre: <%= result.genre %> </p>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>